.custome-navbar{
    background-color: rgb(55, 57, 65) !important;
}
h2{
    background-color: skyblue;
    align-items: center;
    display: flex;
}
.card1{
    justify-content: center;
    align-items: center;
}
.card2{
    justify-content: center;
    align-items: center;
}
.card3{
    justify-content: center;
    align-items: center;
    display: flex;
}